body {
    font-family: Arial, Helvetica, sans-serif ; 
    font-size: 18px;
    color: darkslategrey;
}

header, 
footer {
    background-color: darkslategrey;
    color: ivory;
}

.site-title {
    color:darkgoldenrod;
    text-decoration: border;
}

    #my-image {
        box-shadow: 0 0  2px 1px black;
    }

p+ul {
    list-style-type: square; 
    }
p+ul li:nth-child(odd)  {
    color: ivory;
    background-color: darkolivegreen;
    width: 100px
}
    
nav ul a,
nav ul a:link,
nav ul a:visited{
    box-shadow: -2px -1px 2px 1px rgb(242, 243, 239);
    font-weight: bolder;
    text-decoration: none;
    color: lightcyan;
}

nav li {
    list-style-type: none;
}

nav ul a:hover,
nav ul a:focus{
    background-color: olivedrab;
}

nav ul a:active {
    text-decoration: underline;
}

