/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older brow
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}


/* ------------------------------------
          Custom Styles
--------------------------------------- */

html {
  font-family: 'Open Sans', sans-serif;
}

/* styles applied Mobile */
@media screen and (max-width: 760px) {

  .header {
    padding: 15px;
    background-color: rgb(2, 2, 2);
  }

  .logo {
    background-size:  10px;
    padding: 20px 20px 20px 0px;
    background-color: #c78c06;
  }

  .navbar {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .navitem {
    list-style: none;
  }

  .navitem:nth-child(2) {
    margin: 20px;
  }

  .navitem:nth-child(3) {
    margin: 20px;
  }

  .navitem:nth-child(4) {
    margin: 20px;
  }

  .navitem:nth-child(5) {
    margin: 20px;
  }

  ul a {
    color: #c78c06;
    text-decoration: none;
    font-size: 1em;
  }

  .navitem:nth-child(1) {
    background-color: #c78c06;
    width: 100%;
  }

  .navitem:nth-child(1) a {
    color: black;
  }

  .header .search-container {
    float: none;
    position: relative;

  }

  .header input[type=text] {
    padding: 6px;
    font-size: 17px;
    border: none;
    margin: 0px;
    width: 88%;
  }

  .header .search-container button {
    float: none;
    padding: 6px 10px;
    margin-left: -3px;
    background: rgb(2, 2, 2);
    font-size: 15px;
    border-width: 1px;
    border-color: #c78c06;
    cursor: pointer;
  }

  /* -------------------welcome page------------ */

  .part1 {
    background: url(../images/main-banner.jpg);
    background-position: 55% 55%;
    background-size: cover;
    height: 570px;
  }

  .Welcome {
    position: absolute;
    padding: 15px;
    margin-top: 80px;
    text-align: left;
    background: rgba(0, 0, 0, 0.5);
    background-position: inherit;
    color: #fff
  }

  .headerContainer {
    padding-top: 10px;
    background-color: black;
  }

  .w1 {
    margin-top: 30px;
    font-size: 60px;
    font-weight: bolder;
    text-align: left;
    color: white;
  }

  .w2 {
    margin-top: 20px;
    font-size: 15px;
    text-align: left;
    color: white;
  }

  .Welcome .contact {
    height: 100px;
    padding: 10px 5px 10px 5px;
    line-height: 50px;
    width: 250px;
    margin-top: 15px;
    background-color: #c78c06;
    border: none;
    cursor: pointer;
  }

  .block3 {
    margin-top: 20px;
    background-color: #c78c06;
    text-decoration: none;
    display: inline-block;

    padding: 20px;
  }
  
  .block3:hover,
  .block3:focus {
    color: inherit;
  }

  .contact {
    text-decoration: none;
    color: black;
    font-size: 20px;
  }

  /* ------------About us page----------- */

  .Aboutus {
    background-color: #ffe6ac;
    padding: 15px;
}

.Aboutus .block1 img {
    width: 100%;
}

.Aboutus h2 {
    font-size: 40px;
    font-weight: bolder;
    margin: 10px 0 10px 0;
}

/* ---------Our service page---------- */

h2 {
  font-size: 50px;
  font-weight: bolder;
  margin: 10px 0 10px 15px;
}

/* ------------ Our Service page / Digital plans------- */

.DigitalPlans img {
  width: 100%;
}

.DigitalPlans {
  background-size: cover;
  background-color: #ffe6ac;
  margin-left: 15px;
  margin-right: 15px;
}

.Digital h3 {
  font-size: 30px;
  font-weight: bolder;
  margin: 10px 0 10px 15px;
}

.Digital p {
  margin-left: 15px;
  margin-bottom: 15px;
}

.DigitalPlans_button .contact {
  height: 100px;
  padding: 20px;
  line-height: 100px;
  width: 250px;
  margin-top: 15px;
  background-color: rgb(2, 2, 2);
  border: none;
  cursor: pointer;
  margin: 15px;
  }

.DigitalPlans_button a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  margin-right: 20px;
}

.DigitalPlans_button i {
  margin-left: 8PX;
}

/* ----------Marketing Plans ----------- */

.MarketingPlans img {
  width: 100%;
}

.MarketingPlans {
  background-color: #ffe6ac;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 15px;
}

.Marketing h3 {
  font-size: 30px;
  font-weight: bolder;
  margin: 10px 0 10px 15px;
}

.Marketing p {
  margin-left: 15px;
  margin-bottom: 15px;
}

.MarketingPlans_button .contact {
  height: 100px;
  padding: 20px;
  line-height: 100px;
  width: 250px;
  margin-top: 15px;
  background-color: rgb(2, 2, 2);
  border: none;
  cursor: pointer;
  margin: 15px;
}

.MarketingPlans_button a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  margin-right: 20px;
}

.MarketingPlans_button i {
  color: white;
  margin-left: 10px;
}

/* -------------Video Production -------------- */

.VideoPlans img {
  width: 100%;
}

.VideoPlans {
  background-color: #ffe6ac;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 15px;
}

.Video h3 {
  font-size: 30px;
  font-weight: bolder;
  margin: 10px 0 10px 15px;
}

.Video p {
  margin-left: 15px;
  margin-bottom: 15px;
}

.VideoPlans_button .contact {
  height: 100px;
  padding: 20px;
  line-height: 100px;
  width: 250px;
  margin-top: 15px;
  background-color: rgb(2, 2, 2);
  border: none;
  cursor: pointer;
  margin: 15px;
}

.VideoPlans_button a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  margin-right: 20px;
}

.VideoPlans_button i {
  color: white;
}

/* ---------------- Web Development------ */

.WebPlans img {
  width: 100%;
}

.WebPlans {
  background-color: #ffe6ac;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 15px;
}

.Web h3 {
  font-size: 30px;
  font-weight: bolder;
  margin: 10px 0 10px 15px;
}

.Web p {
  margin-left: 15px;
  margin-bottom: 15px;
}

.WebPlans_button .contact {
  height: 100px;
  padding: 20px;
  line-height: 100px;
  width: 250px;
  margin-top: 15px;
  background-color: rgb(2, 2, 2);
  border: none;
  cursor: pointer;
  margin: 15px;
}

.WebPlans_button a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  margin-right: 20px;
}

.WebPlans_button i {
  color: white;
}

/* ----------- Print ------------ */

.PrintPlans img {
  width: 100%;
}

.PrintPlans {
  background-color: #ffe6ac;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 15px;
}

.Print h3 {
  font-size: 30px;
  font-weight: bolder;
  margin: 10px 0 10px 15px;
}

.Print p {
  margin-left: 15px;
  margin-bottom: 15px;
}

.PrintPlans_button .contact {
  height: 100px;
  padding: 20px;
  line-height: 100px;
  width: 250px;
  margin-top: 15px;
  background-color: rgb(2, 2, 2);
  border: none;
  cursor: pointer;
  margin: 15px;
}

.PrintPlans_button a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  margin-right: 20px;
}

.PrintPlans_button i {
  color: white;
}

/*  -------------- Our Vision --------------- */

.Vision{
  background: url(../images/vision.jpg);
  background-position: 55% 55%;
  background-size: cover;
  width: 100%;
  margin-top: 25px;
  margin-bottom: 30px;
}

.Vision h3 {
  font-size: 30px;
  font-weight: bolder;
  padding: 30px 0px 10px 15px;
  color: white;
}

.Vision p {
  margin-left: 15px;
  margin-right: 15px;
  color: white;
  margin-bottom: 15px;
}

.Vision_button .contact {
  height: 100px;
  padding: 20px;
  line-height: 100px;
  width: 250px;
  margin-top: 15px;
  background-color: rgb(0, 0, 0, 0.8);
  border: 1px solid #c78c06;
  cursor: pointer;
  margin: 15px;
}

.Vision_button a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  margin-right: 20px;
}

.Vision_button i {
  color: white;
}

/* ------------- John Deo ------------ */

.John_img img{
  width: 100%;
}

.John {
  background-color: #ffe6ac;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 15px;
}

.John h3 {
  font-size: 30px;
  font-weight: bolder;
  margin: 10px 0 10px 15px;
}

.John p {
  margin-bottom: 20px;
  padding: 15px;
}

.John h4{
  font-weight: bold;
  margin-left: 15px;
  margin-right: 15px;
  border-bottom: 2px solid #c78c06;
}

/* -------------- Bob Rite ------------ */

.Bob_img img{
  width: 100%;
}

.Bob {
  background-color: #ffe6ac;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 15px;
}

.Bob h3 {
  font-size: 30px;
  font-weight: bolder;
  margin: 10px 0 10px 15px;
}

.Bob p {
  margin-bottom: 20px;
  padding: 15px;
}

.Bob h4{
  font-weight: bold;
  margin-left: 15px;
  margin-right: 15px;
  border-bottom: 2px solid #c78c06;
}

/* ------------- Contact Us ------------- */

.SendMessage h3{
  font-size: 30px;
  font-weight: bolder;
}

.SendMessage{
  margin-left: 15px;
  margin-right: 15px;
}

#Fullname,#Email,#Message {
  width: 98%;
}

.SendButton .contact {
  margin-top: 15px;
  background-color: rgb(2,2,2);
  margin: 15px 0 0px 0;
  border: none;
}

.contact {
  text-decoration: none;
  color: #c78c06;
  font-size: 22px;
}

/* ---------------- Hours of operation ---------- */

.Hoursofoperation h3{
  font-size: 30px;
  font-weight: bolder;
  margin-bottom: 10px;
}
.Hoursofoperation{
  margin: 15px;
}

table, th, td {
  border: 1px solid black;
}
table {
  width: 100%;
  border-collapse: collapse;
}
#day,#hours{
  background: #ffe6ac;
}
#day,#hours,#monday,#am,#saturday,#closed{
  padding: 15px;
}

/* ------------- Location -------------- */

.location h3{
  font-size: 30px;
  font-weight: bolder;
  margin-bottom: 10px;
}
.location{
  margin: 15px;
}
.location iframe{
  width: 100%;
}

/*  ------------ Footer --------------- */

footer {
  background-color: rgb(2, 2, 2);
  height: 100px;
}
footer .footer_content{
color: #c78c06;
margin-left: 15px;
padding-top: 30px;
}

.p1 {
  margin-bottom: 10px;
}

}




/* ----------- Media Query up 760px ---------*/


@media screen and (min-width: 760px) {
    
  #all{
      /* width: 1200px; */
      align-content: center;
  }
  header {
      padding:0;
      background-color: rgb(2, 2, 2);
      height: 120px;
      display:grid;
      
  }

  .header{
     margin-top: 20px;   
    display: flex;
    flex-direction: row;
    align-content: center;
    width: 100%;
}

header .logo img{
  width: 75px;
  margin-left: 50px;
}

.navbar {
  margin-top: 20px;
  margin-left: 30px;
  
}

.navitem {
  list-style: none;
  display:inline;
  padding: 15px;
}


ul a {
  color: #c78c06;
  text-decoration: none;
  font-size: 1em;
}

.navitem:nth-child(1) {
  background-color: #c78c06;
  padding: 15px 30px 15px 30px;
  
}

.navitem:nth-child(1) a {
  color: black;
}


.header .search-container {
  margin-top: 5px;
  float: none;
  position: relative;
  margin-right: 40px;
}

.header input[type=text] {
  padding: 6px;
  font-size: 15px;
  border: none;
  margin: 0px;
  width: 55%;
}

.header .search-container button {
  margin-top: 5px;
  float: none; 
  padding: 3px;
  margin-left: -3px;
  background: rgb(2, 2, 2);
  font-size: 10px; 
  border-width: 1px;
  border-color: #c78c06;
  cursor: pointer;
  line-height: 10px;
}

/* ----------- welcome page---------- */

.part1 {
  background: url(../images/main-banner.jpg);
  background-position: 55% 55%;
  background-size: cover;
  height: 570px;
  padding: 80px;
}

.Welcome {
  padding: 15px;
  margin-top: 80px;
  text-align: left;
  background: rgba(0, 0, 0, 0.5);
  background-position: inherit;
  /* color: #fff; */
  /* align-items: center; */
  
}

.headerContainer {
  padding-top: 10px;
  background-color: black;

}

.w1 {
  margin-top: 30px;
  padding-right: 300px;
  font-size: 60px;
  font-weight: bolder;
  text-align: left;
  color: white;
}

.w2 {
  margin-top: 20px;
  font-size: 15px;
  text-align: left;
  color: white;
}

.Welcome .contact {
  height: 100px;
  padding: 10px 5px 10px 5px;
  line-height: 50px;
  width: 250px;
  margin-top: 15px;
  background-color: #c78c06;
  border: none;
  cursor: pointer;
}

.contact{
  text-decoration: none;
  color: black;
  font-size: 20px;
}

.block3 {
  margin-top: 20px;
  background-color: #c78c06;
  text-decoration: none;
  display: inline-block;
  border: 1px solid grey;
  padding: 20px;
}

/* ----------About Us ------------ */

.Aboutus {
  background-color: #ffe6ac;
  padding: 15px;
  padding: 15px 95px 15px 95px;
  display:grid;
  grid-template-columns:repeat(2,1fr);
 
}
.block1 img{
  float: left;
  width: 100%;
  margin-right: 15px;
}

.Aboutus h2 {
  font-size: 40px;
  font-weight: bolder;
  margin: 10px 0 10px 10px;
}
.Aboutus p{
  margin: 10px 0 10px 10px;
}

/* ----------our service ------------- */

h2 {
  font-size: 50px;
  font-weight: bolder;
  margin: 10px 0 5px 95px;
}
.Services {
  display:grid;
  grid-template-columns:repeat(6,1fr);
  grid-template-rows:repeat(2,1fr);
  padding-left:80px;
  padding-right:80px;
}

.Services .DigitalPlans{
  grid-column: span 3;
}
.Services .MarketingPlans{
  grid-column: span 3;
}
.Services .VideoPlans{
  grid-column: span 2;
}
.Services .WebPlans{
  grid-column: span 2;
}
.Services .PrintPlans{
  grid-column: span 2;
}

/* ------------Didital Plans ----------- */

.DigitalPlans img {
  width: 100%;
}

.DigitalPlans {
  background-color: #ffe6ac;
  margin:0px 5px 5px 15px;
}

.Digital h3 {
  font-size: 30px;
  font-weight: bolder;
  margin: 10px 0 10px 15px;
}

.Digital p {
  margin: 15px;
}

.DigitalPlans_button .contact {
display: inline-block;
  padding: 35px;
  line-height: 48px;
  width: 94%;
  background-color: rgb(2, 2, 2);
  border: none;
  cursor: pointer;
  text-align: center;
  font-size: 30px;
}

.DigitalPlans_button{
  margin-right: 55px;
  margin-left: 10px;
  margin-top: 35px;
  margin-bottom: 15px;
}


.DigitalPlans_button a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  margin-right: 20px;
}

.DigitalPlans_button i {
  color: white;
}

/* -------------Marketing Plants ------------- */

.MarketingPlans img {
  width: 100%;
}

.MarketingPlans {
  background-color: #ffe6ac;
  margin:0px 15px 5px 5px;
}

.Marketing h3 {
  font-size: 30px;
  font-weight: bolder;
  margin: 10px 0 10px 15px;
}

.Marketing p {
  margin: 15px;
}

.MarketingPlans_button .contact {
  display: inline-block;
  padding: 35px;
  line-height: 48px;
  width: 94%;
  background-color: rgb(2, 2, 2);
  border: none;
  cursor: pointer;
  text-align: center;
  font-size: 30px;
}


.MarketingPlans_button{
  margin-right: 55px;
  margin-left: 10px;
  margin-top: 35px;
  margin-bottom: 15px;

}

.MarketingPlans_button a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  margin-right: 20px;
}

.MarketingPlans_button i {
  color: white;
}

/* ----------------- Video Production ----------- */

.VideoPlans img {
  width: 100%;
}

.VideoPlans {
  background-color: #ffe6ac;
  margin:5px 5px 15px 15px;
  height: 600px;
}

.Video h3 {
  font-size: 30px;
  font-weight: bolder;
  margin: 10px 0 10px 15px;
}

.Video p {
  margin: 15px;
}

.VideoPlans_button .contact {
  display: inline-block;
  padding: 35px;
  line-height: 48px;
  width: 94%;
  background-color: rgb(2, 2, 2);
  border: none;
  cursor: pointer;
  text-align: center;
  font-size: 30px;
}

.VideoPlans_button{
  margin-right: 70px;
  margin-left: 18px;
  margin-bottom: 15px;
}
.VideoPlans_button a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  margin-right: 20px;
}

.VideoPlans_button i {
  color: white;
}

/* ----------------- Our Service ---------- */

.WebPlans img {
  width: 100%;
}

.WebPlans {
  background-color: #ffe6ac;
  margin:5px 15px 15px 5px;
  height: 600px;
}

.Web h3 {
  font-size: 30px;
  font-weight: bolder;
  margin: 10px 0 10px 15px;
}
.Web p {
  margin: 15px 15px 15px ;
}

.WebPlans_button .contact {
  display: inline-block;
  padding: 35px;
  line-height: 48px;
  width: 94%;
  background-color: rgb(2, 2, 2);
  border: none;
  cursor: pointer;
  text-align: center;
  font-size: 30px;
}
.WebPlans_button{
  margin-right: 70px;
  margin-left: 18px;
  margin-bottom: 15px;
}

.WebPlans_button a {  
  text-decoration: none;
  color: white;
  font-size: 20px;
  margin-right: 20px;
}

.WebPlans_button i {
  color: white;
}

/* ------------- Print --------------- */

.PrintPlans img {
  width: 100%;
}

.PrintPlans {
  background-color: #ffe6ac;
  margin:5px 15px 15px 0px;
  height: 600px;
}

.Print h3 {
  font-size: 30px;
  font-weight: bolder;
  margin: 10px 0 10px 15px;
}

.Print p {
  margin: 15px;

}

.PrintPlans_button .contact {
  display: inline-block;
  padding: 35px;
  line-height: 48px;
  width: 94%;
  background-color: rgb(2, 2, 2);
  border: none;
  cursor: pointer;
  text-align: center;
  font-size: 30px;
}
.PrintPlans_button{
  margin-right: 70px;
  margin-left: 18px;
  margin-bottom: 15px;
}

.PrintPlans_button a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  margin-right: 20px;
}

.PrintPlans_button i {
  color: white;
}

/* ------------ Our Vision ------------- */

.Vision{
  background: url(../images/vision.jpg);
  background-position: 55% 55%;
  background-size: cover;
  width: 100%;
  margin-top: 25px;
  margin-bottom: 30px;
  
}
.Vision h3 {
  font-size: 30px;
  font-weight: bolder;
  padding: 30px 0px 10px 95px;
  color: white;
}
.Vision p {
  margin-left: 95px;
  margin-right: 95px;
  color: white;
  margin-bottom: 15px;
}
.Vision_button .contact {
  height: 100px;
  padding: 20px;
  line-height: 100px;
  width: 250px;
  margin-top: 15px;
  background-color: rgb(0, 0, 0, 0.8);
  border: 1px solid #c78c06;
  cursor: pointer;
  margin: 15px;
  margin-left: 95px;
}
.Vision_button a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  margin-right: 20px;
}

.Vision_button i {
  color: white;
}

/* ----------- John Deo ------------ */

.OurTeam{
  margin-left: 80px;
  margin-right: 80px;
}
.John{
  display:grid;
  grid-template-columns:repeat(2,1fr);
}
.Bob {
  display:grid;
  grid-template-columns:repeat(2,1fr);
}
 .Bob .Bob_block{ 
   /* order: -1;  */
   margin: 0em;
 } 

.Bob_img {
  grid-column: 2/3;
  grid-row: 2/3;
}

.Bob_block {
  grid-column: 1/2;
  grid-row: 1/3;
}

.John_img img{
  width:100%;
}

.John {
  background-color: #ffe6ac;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 15px;
}

.John h3 {
  font-size: 30px;
  font-weight: bolder;
  margin: 10px 0 10px 15px;
}

.John p {
  margin-bottom: 20px;
  padding: 15px;
}

.John h4{
  font-weight: bold;
  margin-left: 15px;
  margin-right: 15px;
  border-bottom: 2px solid #c78c06;
}

/* ----------------- Bob Rite ------------------ */

.Bob_img img{
  width: 100%;
 height: 100%;
  object-fit:cover;
  
}

.Bob {
  background-color: #ffe6ac;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: -5px;
}

.Bob h3 {
  font-size: 30px;
  font-weight: bolder;
  margin: 10px 0 10px 15px;
}

.Bob p {
  margin-bottom: 20px;
  padding: 15px;
}

.Bob h4{
  font-weight: bold;
  margin-left: 15px;
  margin-right: 15px;
  border-bottom: 2px solid #c78c06;
}

/* -------- Contact Us ------------- */

.cc {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* grid-template-rows: repeat(3. 1fr); */
  /* column-gap: 1em; */
}

.Hoursofoperation {
  grid-column: 1/3;
  grid-row: 2/3;
  margin-top: 2em;
}

.location {
  grid-column: 2/3;
  grid-row: 1/2; 
}

.contact {
  grid-column: 1/2;
  grid-row: 1/2;
}

.SendMessage h3{
  font-size: 30px;
  font-weight: bolder;
}

.SendMessage{
  margin-left: 95px;
  margin-right: 5px;
}
#Fullname,#Email,#Message {
  width: 98%;
}

.SendButton .contact {
  margin-top: 15px;
  background-color: rgb(2,2,2);
  margin: 15px 0 0px 0;
  border: none;
}
.contact {
  text-decoration: none;
  color: #c78c06;
  font-size: 22px;
}

/* ------------ Hours of operation ------------ */

.Hoursofoperation h3{
  font-size: 30px;
  font-weight: bolder;
  margin-bottom: 10px;
}
.Hoursofoperation{
  margin: 15px 95px 15px 95px;
}

table, th, td {
  border: 1px solid black;
}
table {
  width: 100%;
  border-collapse: collapse;
}
#day,#hours{
  background: #ffe6ac;
}
#day,#hours,#monday,#am,#saturday,#closed{
  padding: 15px;
}

/* ----------- location -------------- */

.location h3{
  font-size: 30px;
  font-weight: bolder;
  margin-bottom: 10px;
}
.location{
  margin: 0px 95px 15px 15px;
}
.location iframe{
  width: 100%;
}

/* ----------- footer ------------- */

footer {
  background-color: rgb(2, 2, 2);
  height: 100px;
}
.footer_content{
color: #c78c06;
margin-left: 95px;
padding: 30px;
}

.p1 {
  margin-bottom: 10px;
}

}
  